$gray-light: whitesmoke;
$gray-medium: #d2d2d2;
$gray-dark: rgb(80,80,80);

$track-1: rgb(37, 158, 255);
$track-2: yellow;
$track-3: lightgreen;
$track-4: lightsalmon;

$lightblue: lightblue;

$red: rgb(247, 93, 93);
